html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f3f5;
    padding: 15px;
}

.layui-card-header a {
    font-weight: 700;
}

.layui-card-header i {
    font-style: normal;
}

.layui-form-select {
    width: 215px;
}

.rq {
    text-align: center;
    width: 300px;
    height: 35px;
}

tbody td img {
    max-width: 150px!important;
    height: 100px;
}

tbody td .layui-icon {
    cursor: pointer
}

tbody td .layui-icon:nth-child(1) {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #1E9FFF;
    background-color: #ecf5ff;
    border: 1px solid #dcdfe6;
}

tbody td .layui-icon:nth-child(1):hover {
    color: #fff;
    background-color: #409eff;
}

tbody td .layui-icon:nth-child(2) {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #f69696;
    background-color: #fef0f0;
    border: 1px solid #dcdfe6;
}

tbody td .layui-icon:nth-child(2):hover {
    color: #fff;
    background-color: #f56c6c;
}

.cell {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
    display: inline-block;
    height: 32px;
    padding: 0 20px;
    margin-left: 55px;
    line-height: 30px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
}